# Entornos virtuales
venv/
env/
.virtualenv/
*.pyvenv
*.egg-info/

# Archivos compilados de Python
*.py[cod]
__pycache__/
*$py.class

# Archivos de logs
*.log

# Archivos temporales
*.tmp
*.temp
*.swp
.sass-cache/
.DS_Store
Thumbs.db

# Archivos de configuración local
local_settings.py
settings_local.py
.env

# Base de datos SQLite (si la usas)
db.sqlite3
db.sqlite3-journal

# Archivos de migraciones
*/migrations/__pycache__/
*/migrations/*.py[cod]
*/migrations/*.pyc

# Archivos de medios y estáticos (si se generan dinámicamente)
media/
staticfiles/

# Archivos de cobertura de pruebas
htmlcov/
.coverage
.tox/

# Archivos de distribución
dist/
build/
*.egg
.eggs/

# Archivos creados por editores/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de pruebas y debug
debug.log
