
<div class="container">
    <div class="header">
        <h1 class="title">Venta</h1>
    </div>
    <div class="main-content">
        <div class="left-section">
            <div class="top-left">
                <div class="left-info">
                    <div class="invoice-info">
                        <label class=" label">Num. Factura:</label>
                        <div class="sub-lab">1122</div>
                    </div>
                    <div class="client-info">
                        <span class="sub-lab">Nombre del Cliente</span>
                        <span class="info">Doc:</span>
                        <span class="info">100522</span>
                    </div>
                </div>
                <div class="right-info">
                    <div class="date-info">
                        <span class="sub-lab">Fecha: </span>
                        <span class="info">{{ formattedDate }}</span>
                    </div>
                    <div class="hour-info">
                        <span class="sub-lab">Hora: </span>
                        <span class="info">{{currentTime}}</span>
                    </div>
                </div>
            </div>
            <div class="separator"></div>
            <div class="middle-left">
                <div class="tabla">
                    <table class="product-table">
                        <thead>
                            <tr>
                                <th>Cantidad</th>
                                <th>Producto</th>
                                <th>Precio Unitario</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of addedProducts">
                                <td>{{ item.cantidad }}</td>
                                <td>{{ item.product.Nombre }}</td>
                                <td>{{ item.product.Precio | currency }}</td>
                                <td>{{ item.cantidad * item.product.Precio | currency }}</td>
                              </tr>
                        </tbody>
                    </table>
                </div>
                <div class="separator"></div>
                <div class="total">
                    <div class="total-header label">
                            Total
                    </div>
                    <div class="total-calc"> 
                            $20
                    </div>
                </div>
            </div>
            <div class="bottom-left">
                <div class="bottom-left-item">Buscar Cliente</div>
                <div class="bottom-left-item"> Eliminar Producto</div>
                <div class="bottom-left-item"> FACTURAR</div>
                <div class="bottom-left-item">CANCELAR</div>
            </div>
        </div>
        <div class="right-section">
            <div class="header">
                <h2 class="label">Producto</h2>
            </div>

            <div class="separator"></div>
            
            <div class="search-section">
                <select class="filter-select" [(ngModel)]="selectedFilter">
                  <option value="nombre">Nombre</option>
                  <option value="id">Codigo</option>
                </select>
                <input
                  type="text"
                  class="search-bar"
                  placeholder="Buscar..."
                  [(ngModel)]="searchText"
                  (ngModelChange)="filterProducts()" /> <!-- Llama a filterProducts en cada cambio -->
                
              </div>
              <div class="separator"></div>
              
              <div class="table-section">
                <div>
                  <table class="product">
                    <thead>
                      <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of filteredData"
                        [class.selected]="selectedProduct?.Codigo === product.Codigo"
                        (click)="selectProduct(product)">
                        <td>{{ product.Codigo }}</td>
                        <td>{{ product.Nombre }}</td>
                        <td>{{ product.Precio | currency }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>

            <div class="separator"></div>

            <div class="add-product-section">
                <div class="quantity-section">
                    <label for="quantity" class="sub-lab">Cantidad:</label>
                    <input type="number" id="quantity" name="quantity" min="1" value="1" class="quantity-input" [(ngModel)]="quantity">
                </div>
                <button class="bottom-left-item btn-add" (click)="addProduct()">Agregar</button>
            </div>


        </div>
    </div>
</div>

