* {
    margin: 3px;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    margin: 90px 100px 0 100px;
    height: 70%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.title{
    display: flex;
    align-items: center;
    color: #e2d1c0;
    background-color: black;
    padding: 10px 15px;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 15px;
}

.separator {
    border-top: 5px solid #753b43; 

}
.main-content {
    display: flex;
    height: 85%;
}

.left-section {
    width: 60%;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 15px #e2d1c0;
    height: 750px;
}

.right-section {
    display: grid;
    width: 40%;
    height: 750px;
    margin-left: 10px;
    background-color: rgba(226, 209, 192, 0.5);; 
    border-radius: 30px;
}

.top-left {
    border-radius: 30px; 
    display: flex; 
    align-items: center; 
}

.left-info {
    margin-left: 30px;
}

.right-info{
    margin-left: 300px;
}

.hour-info,
.invoice-info,
.client-info,
.date-info {
    display: flex; 
    align-items: center; 
    justify-items: center;
}


.label {
    font-size: x-large;
    font-weight: 500;
}
.sub-lab{
    font-size: large;
    font-weight: 500;
}

.info {
    font-size: medium;
}

.middle-left {
    height: 75%;
    margin-top: 10px;
}

.tabla{
    height: 75%;
    margin: 10px;
    overflow-y: auto;
}

.total{
    height: 15%;
    margin-top: 10px;
    background-color: #e2d1c0;
    border-radius: 0 0 30px 30px;
    display: flex;
    align-items: center; 
}

.product-table {
    width: 95%; 
    border-collapse: separate; 
    border: none;
    border-spacing: 0 15px;
}

.product-table thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }

.product-table th,
.product-table td {
    text-align: center; 
    padding: 10px; 
}

.product-table th {
    color: #753b43;
    padding: 10px 15px;
    font-weight: bolder;
    font-size: 2vh;
}

.product-table tbody tr {
    box-shadow: 15px 4px 15px #e2d1c0;
    border-radius: 15px;
    font-size: 1.7vh;
    height: 80px;
    margin-bottom: 10px; 
    transition: background-color 0.3s;
    cursor: pointer; 
  }
  .product-table tbody tr:hover {
    background-color: #ffe9d0; /* Color de fondo al pasar el cursor */
}

.total-header{
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 2vh;
}

.total-calc{
    align-items: center;
    width: 20%;
    display: flex;
    flex-direction: column;
    font-size: 2vh;
}



.bottom-left {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    height: 12%;
}

.bottom-left-item {
    width: 25%;
    background-color: #753b43;
    box-shadow: 0 4px 15px #e2d1c0;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #ffffff;
    font-weight: bolder;
    font-size: 2vh;
}
.bottom-left-item:hover {
    background-color: #6a2d35; 
    transform: scale(1.05); 
}


.search-section {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.filter-select {
    margin-right: 10px; 
    padding: 2%; 
    border-radius: 30px; 
    background-color: #ffffff;
    font-weight: bolder;
    font-size: 1.5vh;
    border: #e2d1c0;
    color: #753b43;
}

.search-bar {
    width: 50%; 
    padding: 15px; 
    border: #ffffff;
    border-radius: 30px; 
    margin-right: 10px; 
    font-size: 1.5vh;
}

.table-section {         
    justify-content: center; 
    margin: 20px 0; 
    height: 400px; 
    overflow-y: auto;
}

.product {
    border-collapse: collapse; 
    border: none;
    background-color: #ffffff;
    border-radius: 30px;
}

.product thead {
    position: sticky; 
    width: 100%;
    top: 0;           
    z-index: 1;  
    background-color: white; 
    border-radius: 30px; 
}



.product th,
.product td {
    text-align: center; 
    padding: 20px 55px 20px 55px; 
    border-bottom: 1px solid #e0e0e0;
}

.product th {
    color: #753b43; 
    font-weight: bold;
    font-size: 2vh;
    border-radius: 30px;   
}

.product tbody tr {
    transition: background-color 0.3s; 
    cursor: pointer; 
    font-size: 1.5vh;
}

.product tbody tr:hover {
    background-color: #ffe9d0; /* Color de fondo al pasar el cursor */
}

.add-product-section {
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
}

.quantity-section {
    display: flex;
    align-items: center;
    margin-right: 70px;
}


.quantity-input {
    width: 70px; 
    padding: 8px; 
    margin-left: 20px;
    font-size: 2vh; 
    border: 1px solid #ccc;
    border-radius: 5px; 
}

.btn-add{
    padding: 20px; 
    border: #753b43;
    font-size: large;
}

.selected {
    background-color: #ffe9d0;
}

.error-message {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
    font-weight: bold;
}