<app-nav-bar></app-nav-bar>
<div class="container">
    <a href="home/product">
    <div>
        <mat-icon fontIcon="store"></mat-icon>
        <p>Productos</p>
    </div>
    </a>
    <a href="home/sales">
    <div>
        <mat-icon fontIcon="shopping_cart"></mat-icon>
        <p>Venta</p>
    </div>
    </a>
    <a href="home/report">
    <div>
        <mat-icon fontIcon="bar_chart"></mat-icon>
        <p>Reporte</p>
    </div>
    </a>
    <a href="home/invoice">
    <div>
        <mat-icon fontIcon="receipt"></mat-icon>
        <p>Facturas</p>
    </div>
</a>
</div>