.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px); 
    padding-top: 20px; 
    appearance: none; 
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #753b43;
    outline: none;
    width: 200px; 
}

.search-button {
    background-color: #753b43; 
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    cursor: pointer;
    color: white;
}
#category {
    margin-left: 15px;
    padding: 10px;
    border: 1px solid #753b43;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
    font-size: 16px;
}

.table-container {
    background-color: white; 
    box-shadow: 0 4px 15px #e2d1c0;
    border-radius: 10px; 
    padding: 20px; 
    width: 100%; 
    max-width: 800px; 
}

table {
    width: 100%;
    border-collapse: collapse; 
}

th, td {
    border: 1px solid #e2d1c0; 
    padding: 10px; 
    text-align: left; 
}

th {
    background-color: #e2d1c0; 

}

@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
        align-items: stretch; /* Alinea los elementos de búsqueda */
    }

    .search-input {
        width: 100%; /* Ocupa el 100% en pantallas pequeñas */
        margin-bottom: 10px; /* Espacio entre el input y el botón */
    }
}
